body{
    margin: 0px;
    padding: 0px;
}
.form-group{
    width: 220px;
}
ul li{
    list-style:none;
    padding-left: 0px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
